    body * {
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .oscuro {
        background: #000f08;
        color: #ffffff;
        text-align: left;
    }
    
    .imagen1 {
        text-align: center;
    }